.Main
  .Main__upper
    .Main__upper__box
      %h2.subtitle
        %br 人生を変えるフリマアプリ
      %p.text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .Main__upper__box__btn
        .Main__upper__box__btn__gbtn
          = link_to image_tag("svg/google-play-badge.png", alt:"google play"), "#"
  .Main__reason
    %h2.subtitle FURIMAが選ばれる3つの理由
    %ul.Lists
      %li.list
        .list__pict
          %span.num 1
          = image_tag("pict/pict-reason-01.jpg", alt: "pict1") 
        %h2.list__h 
          %span 3分
          ですぐに出品
        %p.list__p スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.num 2
          = image_tag("pict/pict-reason-02.jpg", alt: "pict2")
        %h2.list__h
          %span シンプル
          で使いやすい
        %p.list__p めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list__last
        .list__pict
          %span.num 3
          = image_tag("pict/pict-reason-03.jpg", alt: "pict3")
        %h2.list__last__h
          %span 手数料
          業界最安
        %p.list__last__p 最大3%でお得に出品&購入！
  .Main__middle
    .Main__middle__box
      %h2.subtitle 会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .Main__middle__box__btn
        .Main__middle__box__btn__gbtn
          = link_to image_tag("svg/google-play-badge.png", alt:"google play"), "#"
  .Main__char
    %h2.subtitle FURIMAの特徴
    %ul.lists
      %li.list
        .list__pict
          = image_tag("icon/icon-01.png", alt: "icon1") 
        %h2.list__h 簡単に売り買いできる
        %p.list__p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.list
        .list__pict
          = image_tag("icon/icon-03.png", alt: "icon3")
        %h2.list__h 売上金は即日振込みに対応
        %p.list__p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      %li.list
        .list__pict
          = image_tag("icon/icon-04.png", alt: "icon4")
        %h2.list__h 様々な支払いに対応
        %p.list__p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .Main__category
    %h2 ピックアップカテゴリー