%footer.user_regist-footer
  %nav
    %ul.user_regist-footer__policy
      %li
        = link_to "プライバシーポリシー", "#"
      %li
        = link_to "フリマ利用規約", "#"
      %li
        = link_to "特定商取引に関する表記", "#"
  .user_regist-footer__top-redirect
    = link_to root_path do
      = image_tag "logo/logo.png"
  %p ©︎furima, Inc