%h2 プロフィール登録
= form_for @profile do |f|
  = render "devise/shared/error_messages", resource: @profile
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana
  .field
    = f.label :last_name_kana
    %br/
    = f.text_field :last_name_kana
  .field
    = f.label :birth_date
    %br/
    = f.date_select :birth_date, use_month_numbers: true, start_year: 1960, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
  .actions
    = f.submit "Next"
= render "devise/shared/links"
