<h2>住所情報登録</h2>

<%= form_for @sending_destination do |f| %>
  <%= render "devise/shared/error_messages", resource: @sending_destination %>

  <div class="field">
    <%= f.label :destination_first_name %><br />
    <%= f.text_field :destination_first_name %>
  </div>

  <div class="field">
    <%= f.label :destination_last_name %><br />
    <%= f.text_field :destination_last_name %>
  </div>

  <div class="field">
    <%= f.label :destination_first_name_kana %><br />
    <%= f.text_field :destination_first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :destination_last_name_kana %><br />
    <%= f.text_field :destination_last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :post_code %><br />
    <%= f.text_field :post_code %>
  </div>

  <div class="field">
    <%= f.label :prefecture %><br />
    <%= f.select :prefecture, SendingDestination.prefectures.keys, { include_blank: '選択してください'}, {class: 'hoge'} %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :house_number %><br />
    <%= f.text_field :house_number %>
  </div>

  <div class="field">
    <%= f.label :building_name %><br />
    <%= f.text_field :building_name %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>