.Left-contents
  %nav.My-page-nav
    %p マイページ
    %ul.My-page-lists
      %li
        .Lists-info
          = link_to new_item_path do
            出品する
        = icon('fas','angle-right')
      %li
        .Lists-info
          = link_to "#" do
            出品した商品
        = icon('fas','angle-right')
      %li
        .Lists-info
          = link_to "#" do
            購入した商品
        = icon('fas','angle-right')
      %li
        .Lists-info
          = link_to "#" do
            お問い合わせ
        = icon('fas','angle-right')
      %li
        .Lists-info
          =link_to "#" do
            お知らせ
        = icon('fas','angle-right')
    %p 設定
    %ul.Setting-lists

      %li.List-setting
        .List-setting__info
          - card = Card.where(user_id: current_user.id)
          - if card.blank?
            = link_to new_card_path do
              .Card-branch
                クレジットカード登録
          - else 
            = link_to cards_path(current_user) do
              .Card-branch
                クレジットカード詳細・削除
        = icon('fas','angle-right')
      %li.List-setting
        .List-setting__info
          =link_to edit_user_path(current_user) do
            ログアウト
        = icon('fas','angle-right')