= render "modules/header"
.Done#fullsize
  .Done__title
    ログアウトしました
  .Done__backlink
    = link_to 'トップページに戻る', root_path, class: 'link'
= render "modules/lower-photo"
= render "modules/footer"
= render "modules/btn"