= render 'items/header'

- if user_signed_in?
  .Usergray
    .User
      = render 'user_side'
      .User__body
        .User__body__bgc
          .Userlisence
            .Userlisence--title
              Trading License
            .Userlisence--name
              #{current_user.nickname}様
          .Prof
            .Prof__data
              登録日：#{current_user.created_at.strftime("%Y年%m月%d日")}
            .Prof__data
              現在の出品数：#{}
            .Prof__data
              コメントされた数：#{}
            .Prof__data
              コメントした数：#{}
        .User__body__subtitle
          最近出品した商品
        .User__body__lists
          .item-Lists
            - @new_items.each do |item|
              .itemContent
                =link_to item_path(item.id) , data: {"turbolinks" => false} do
                  -if item.buyer_id.present? 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner SOLD
                  %figure.item-Content__image
                    =image_tag item.images[0].image_url.url, class:"img"
                  .itemContent__info
                    %h3.name
                      = item.name
                    %ul
                      %li 
                        = item.price 
                        円
                    %p.shipping 
                      = item.postage_payer.name
-else
  .Done#fullsize
    .Done__title
      マイページを利用するには新規会員登録またはログインが必要です
    .Done__backlink
      = link_to '新規会員登録', new_user_registration_path, class: 'link'
    .Done__backlink
      = link_to 'ログイン', new_user_session_path, class: 'link'
    .Done__backlink
      = link_to 'トップページへ戻る', root_path, class: 'link'
= render 'items/footer'
= render 'items/btn'