.Header
  .HeaderInner
    .HeaderInner__mainHeader
      .HeaderInner__mainHeader__icon
        = link_to root_path, class:"Header__mainHeader__icon_img" do
          = image_tag "logo/logo.png", width: "140px", hight: "40px"
      .HeaderInner__mainHeader__search-box
        .HeaderInner__mainHeader__search-box__form
          = form_with url: search_items_path, local: true, method: :get, class:"form" do |f|
            = f.text_field :keyword, class: 'input-text', placeholder: 'キーワードから探す', type: "text", value: ""
            %button{ type: "submit", class:"submit-btn" }
              .SearchBox__icon
                = image_tag "icon/icon-search 1.png", width: "20px", hight: "20px"
    .HeaderInner__nav
      %ul.List-left
        %li.List-left__category-list
          = link_to "#", class: "btn" do
            = image_tag 'icon/icon_category.png', size: '16x16'
            カテゴリー
        %li.List-left__brand-list
          = link_to "#", class: "btn" do
            = image_tag 'icon/icon_brand.png', size: '16x16'
            ブランド
      %ul.List-right
        - if user_signed_in?
          %li.List-right__log-in
            = link_to user_path(id: current_user), class: "right-btn" do
              マイページ
            = link_to destroy_user_session_path, method: :DELETE, class: 'right-btn' do
              ログアウト
        - else
          %li.List-right__log-in
            = link_to new_user_session_path, class: "right-btn" do
              ログイン
          %li.List-right__sign-up
            = link_to new_user_registration_path, class: "right-btn",data: {"turbolinks" => false}  do
              新規会員登録
 