.buy-check_body
  = render 'devise/registrations/user_regist_header'
  %section.buy-check_section
    %h2.buy-check_section__header
      購入内容の確認
    .buy-check_section__item-info
      .item-info__image
        = image_tag @item.images[0].image_url.url, class: "item_image"
      .item-info__detial
        .item-info__detial__name
          .field
            = @item.name
        .item-info__detial__fee
          %span.item-info__shipping 送料込み
          %span.item-info__tax（税込）
          %span.item-info__price 
            .field
              =@item.price.to_s(:delimited)
              円
    .buy-check_section__item-fee
      .item-payment-amount
        .item-payment-amount__left
          支払い金額
        .item-payment-amount__right
          .field
            =@item.price.to_s(:delimited)
            円
    .buy-check_section__item-MethodOfPayment
      .MethodOfPayment
        支払い方法
      .MethodOfPayment__select
        .MethodOfPayment__select__card
          クレジットカード情報
        .MethodOfPayment__select__card-info
          .Field__label
            - if @card
              = "************" + @card[:last4]
              %br
              = @card[:exp_month]
              \/
              = @card[:exp_year]
              %br
              = @card[:brand]
            - else
              .submit-btn
                クレジットカードの登録がまだの方は、
                = link_to "こちら", new_card_path
                から登録してください
    .buy-check_section__address
      .shipping-address
        .shipping-address__left
          配送先
        .shipping-address__right
          = link_to "#" do
            変更する
            = icon('fas','angle-right')
      .shipping-address__info
        %p.shipping-address__info__post_code
          〒
          = @sending.post_code.to_s.insert(3, "-")
        %p.shipping-address__info__address
          = @sending.prefecture.name
          = @sending.city
          = @sending.house_number
          = @sending.building_name
        %p.shipping-address__info__name
          = @sending.destination_first_name
          = @sending.destination_last_name
    .buy-check_section__buy-btn
      %div.buy-btn__box
        = link_to purchase_item_path(@item), method: :post do
          %div.buy-btn
            購入する

  = render "devise/registrations/user_regist_footer"