.buy-check_body
  = render 'devise/registrations/user_regist_header'
  %section.buy-check_section
    %h2.buy-check_section__header
      購入内容の確認
    .buy-check_section__item-info
      .item-info__image
        = image_tag "icon/icon-01.png", class: "item_image"
      .item-info__detial
        .item-info__detial__name
          ルイヴィトン
        .item-info__detial__fee
          %span.item-info__shipping 送料込み
          %span.item-info__tax（税込）
          %span.item-info__price ¥30000
    .buy-check_section__item-fee
      .item-payment-amount
        .item-payment-amount__left
          支払い金額
        .item-payment-amount__right
          ¥30000
      -# .item-point
      -#   ポイント→→所持ポイントxxxxx
    .buy-check_section__item-MethodOfPayment
      .MethodOfPayment
        支払い方法
      .MethodOfPayment__select
        お支払い方法を洗濯してください
    .buy-check_section__address
      .shipping-address
        .shipping-address__left
          配送先
        .shipping-address__right
          = link_to "#" do
            変更する
            = icon('fas','angle-right')
      .shipping-address__info
        %p.shipping-address__info__post_code
          〒123-4567
          // 仮置き）sending_destinations.post_code
        %p.shipping-address__info__address
          東京都千代田区XXXXXX
          // 仮置き）sending_destinations.prefecture + sending_destinations.city + 
          //sending_destinations.house_number + sending_destinations.building_name
        %p.shipping-address__info__name
          フリマ星人
          // 仮置き）sending_destinations.destination_first_name + sending_destinations.destination_last_name
    .buy-check_section__buy-btn
      %div.buy-btn__box
        = link_to "#" do
          %div.buy-btn
            購入する

  = render "devise/registrations/user_regist_footer"