.exhibit
  = render 'devise/registrations/user_regist_header'
  .exhibit__single-container
    = form_with model:@item, local: true do |f|
      .exhibit__image
        .exhibit__image__title
          .exhibit__select-wrap
            = f.label :image_id, "出品画像" ,class: "exhibit__sell-up-load-head"
            %span.exhibit__form-require
              必須
        .exhibit__image__text
          最大5枚までアップロードできます
        .exhibit__image__upload
          .previews
            - if @item.persisted?
              - @item.images.each_with_index do |image, i|
                .previews__field.count-box{data: {count: i, index: i}}
                  = image_tag image.image_url.url, data: { index: i }, width: "100", height: '100'
                  .edit-remove_btn-box{data: {index: i}}
                    %span.edit 編集
                    %span.remove 削除
                  %br/

          -# .area
          = f.fields_for :images do |image|
            .file{"data-index" => "#{image.index}"}   
              = image.file_field :image_url, class: 'file__image'
              - if image.object.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                
          - if @item.persisted?
            .file{"data-index" => "#{@item.images.count}"}
              = file_field_tag :image_url, id: "item_images_attributes_#{@item.images.count}_image_url", name: "item[images_attributes][#{@item.images.count}][image_url]", class: 'file__image'


          %label{for: "item_images_attributes_#{@item.images.length}_image_url", class: 'label'}
            %i.fas.fa-camera.icon

        .exhibit__no-image
      /商品の説明
      .exhibit__item-detail
        %h3.show-sub-head
          商品の詳細
        .exhibit__show-form-box
          .exhibit__tk-form-group
            .exhibit__sell-upload-head
              = f.label :category_id, "カテゴリー"
              %span.exhibit__form-require
                必須
            .exhibit__select-wrap
              = f.collection_select :category_id, @item.category.root.siblings, :id, :name, {include_blank: "選択してください", selected: @item.category.root_id}, required: true, class: "select-category", id: "parent-category"
            .exhibit__select-wrap
              = f.collection_select :category_id, @item.category.parent.siblings, :id, :name, {include_blank: "選択してください", selected: @item.category.parent_id}, class: "select-category", id: "parent-category"
            .exhibit__select-wrap
              = f.collection_select :category_id, @item.category.siblings, :id, :name, {include_blank: "選択してください"}, class: "select-category", id: "parent-category"
          

          .exhibit__tk-form-group
            .exhibit__sell-upload-head
              = f.label :ブランド
              %span.exhibit__form-require2
                任意
            .exhibit__select-wrap
              = f.text_field :brand_name, class: "brand-select", placeholder: "例）シャネル"
          .exhibit__tk-form-group
            .exhibit__sell-upload-head
              = f.label :サイズ
              %span.exhibit__form-require2
                任意
            .exhibit__select-wrap
              = f.text_field :size, class: "size-select", placeholder: "例）S"
          .exhibit__tk-form-group
            .exhibit__sell-upload-head
              = f.label :condition,"商品の状態"
              %span.exhibit__form-require
                必須
            .exhibit__select-wrap
              %i.icon-arrow-bottom
                = f.collection_select :condition_id, Condition.all, :id, :name, {include_blank: "選択してください"}, required: true
              .exhibit__no-product.no-product4
      /商品名と説明
      .exhibit__item-name-detail
        %h3.show-sub-head
          商品名と説明
        .exhibit__show-form-box
          .exhibit__form-group
            .exhibit__sell-upload-head
              = f.label :name, "商品名" 
              %span.exhibit__form-require
                必須
            .exhibit__select-wrap
              = f.text_field :name ,class: "input-default" ,placeholder: "商品名（必須 40文字まで)", required: true
              .exhibit__no-product.no-product5
          .exhibit__form-group
            .exhibit__sell-upload-head
              説明
              .exhibit__form-require
                必須
            .exhibit__select-wrap
              %i.icon-arrow-bottom
                = f.text_area :introduction, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内)&#13;&#10;(色、素材、重さ、定価、注意点など)&#13;&#10;例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。".html_safe, required: true
          .exhibit__no-product.no-product2
      /配送方法
      .exhibit__item-postage
        %h3.show-sub-head
          配送について
        .exhibit__show-form-box
          .exhibit__tk-form-group
            .exhibit__sell-upload-head
              = f.label :postage_payer_id,"配送料の負担"
              %span.exhibit__form-require
                必須
            .exhibit__select-wrap
              = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, {include_blank: "選択してください"}, required: true
              .exhibit__no-product.no-product5
          .exhibit__tk-form-group
            .exhibit__sell-upload-head
              配送の方法
              .exhibit__form-require
                必須
            .exhibit__select-wrap
              %i.icon-arrow-bottom
                = f.collection_select :postage_type_id, PostageType.all, :id, :name, {include_blank: "選択してください"}, required: true
          .exhibit__tk-form-group
            .exhibit__sell-upload-head
              発送元の地域
              .exhibit__form-require
                必須
            .exhibit__select-wrap
              %i.icon-arrow-bottom
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択してください"}, required: true
          .exhibit__tk-form-group
            .exhibit__sell-upload-head
              = f.label :preparation_day,"発送までの日数"
              %span.exhibit__form-require
                必須
            .exhibit__select-wrap
              = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, {include_blank: "選択してください"}, required: true
              .exhibit__no-product.no-product7


      /販売価格
      .exhibit__item-price
        %h3.show-sub-head
          価格（¥300~9,999,999)
        .exhibit__tk-selling-price
          .exhibit__input-price
            .exhibit__sell-upload-head2
              = f.label :price,"販売価格"
              %span.exhibit__form-require
                必須
            %span.doll-mark
              ¥
            .exhibit__enter-price
              .exhibit__enter-price2
                = f.number_field :price, placeholder: "0", class: "tk-price", required: true
                .exhibit__no-product.no-product2
          .exhibit__commission
            .exhibit__commission-box
              .new_listing__commission-font{"data-test" => "fee-label"}
                %div 
                  販売手数料（10%）
              %span.money01{"data-test" => "fee-value"}
          .exhibit__commission2
            .exhibit__commission-box
              .new_listing__commission-font{"data-test" => "fee-label"}
                %div
                  販売利益
              %span.money02{"data-test" => "fee-value"}
                
        /送信フォーム
        .exhibit__send-boxes
          .exhibit__send-box
            = f.submit "変更する", class: "send-btn"
            = link_to('戻る', root_path)
        %p.note
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして加盟店規約に同意したことになります。
  = render "devise/registrations/user_regist_footer"