/- if user_signed_in?
.new__page__header
  = link_to image_tag("logo/logo.png", alt: "logo"), root_path
= form_for @item do |f|
  = render 'layouts/error_messages', model: f.object
  .name__field
    .form__label
      .lavel__name
        出品画像
      .lavel__Required
        [必須]
  #image-box-1
    %label.img-label{for: "img-file"}
      .item-num-0#image-box__container
        = f.fields_for :images do |image|
          #append-js
            .js-file_group{"data-index" => "#{image.index}"}
              = image.file_field :image, type: 'file', value:"",style: "",  id:"img-file", class:'js-file',name: "item[images_attributes][#{@item.images.count}][image]",data:{index:"0"}
        %i.fas.fa-camera
  .name__field
    .form__label
      .lavel__name
        商品名
      .lavel__Required
        [必須]
    =f.text_field :name, class: 'name_field', placeholder: "40字まで"
  .explanation
    .form__label
      .lavel__name 
        商品の説明
      .lavel__Required
        [必須]
    =f.text_field :item_explanation, class: 'explanation_field', placeholder: '商品の説明（必須 1,000文字以内）&#13;&#10;（色、素材、重さ、定価、注意点など）&#13;&#10;例）2010年頃に1万円で購入したジャケットです。'.html_safe 
  .append__category
    .category
      .form__label
        .lavel__name 
          カテゴリー
        .lavel__Required
          [必須]
      =f.collection_select :category_id, @category_parent_array, :id, :name,{ include_blank: "選択してください"},class:"serect_field"
  .bland
    .form__label
      .lavel__name
        ブランド 
    =f.text_field :brand_name, class: 'serect_field', placeholder: "例）シャネル"
  .item_status
    .form__label
      .lavel__name
        商品の状態
      .lavel__Required
        [必須]
    =f.select :item_status, Item.item_statuses.keys ,{ include_blank: "選択してください"},class:"serect_field"
  .delivery_fee
    .form__label
      .lavel__name
        配送料の負担
      .lavel__Required
        [必須]
    =f.select :delivery_fee, Item.delivery_fees.keys,{ include_blank: "選択してください"},class:"serect_field"
  .shipping_origin
    .form__label
      .lavel__name
        発送元の地域
      .lavel__Required
        [必須]
    =f.select :shipping_origin, Item.shipping_origins.keys,{ include_blank: "選択してください"},class:"serect_field"
  .days_until_shipping
    .form__label
      .lavel__name
        発送元までの日数
      .lavel__Required
        [必須]
    =f.select :days_until_shipping, Item.days_until_shippings.keys,{ include_blank: "選択してください"},class:"serect_field"
  .exhibition_price
    .form__label
      .lavel__name
        販売価格
      .lavel__Required
        [必須]
    .note
      出品価格(300円 〜 9,999,999円)
    =f.number_field :exhibition_price, min:300,max:999999999,placeholder: "０",class:"exhibition_price_field" 
    円
    %br
    .sales_commission
      .lavel__name
        販売手数料（10%）
      #sales_commission_price
    .sales_profit
      .lavel__name
        販売利益
      #sales_profit_proce
      
  .send
    = f.submit "出品する",class:"send__sipping_btn"
-# - else
-#   .done#fullsize
-#     .done__title
-#       商品を出品するには新規会員登録またはログインが必要です
-#     .done__backlink
-#       = link_to '新規会員登録', new_user_registration_path, class: 'link'
-#     .done__backlink
-#       = link_to 'ログイン', new_user_session_path, class: 'link'
