= render "header"

.detail_body
  %section.item_section
    %h2.item_section__header
      =@item.name
    %p.item_section__info
      =@item.name 
      は
      =@item.user.nickname
      さんから出品されました。
      =@item.brand_name
      = @category_grandchild.name
      ="/"
      = @category_parent.name
      の商品で、
      =@item.prefecture.name
      から
      =@item.preparation_day.name
      されます。
    .item_section__main.cf
      .item_photo
        .item_photo__top
          -# -if @item.buyer_id.present? 
          -#   .items-box_photo__sold
          -#     .items-box_photo__sold__inner SOLD
          =image_tag @item.images[0].image_url.url, class: "active_image", id: "bigimg", data: {"turbolinks" => false}
        .item_photo__list
          %ul
            - @item.images.each do |image|
              %li
                = image_tag image.image_url.url, class: "passive_image"
      %table.item_table
        %tr
          %th 出品者
          %td 
            = @item.user.nickname
        %tr
          %th カテゴリー
          %td 
            -if @category_parent == @category_grandchild
              = link_to "#", class: "font-color_blue" do
                %div 
                  = @category_parent.name
            -elsif @category_parent == @category_child
              = link_to "#", class: "font-color_blue" do
                %div 
                  = @category_parent.name
              = link_to "#", class: "font-color_blue" do
                %div
                  = icon('fas','angle-right')
                  = @category_grandchild.name
            -else
              = link_to "#", class: "font-color_blue" do
                %div 
                  = @category_parent.name
              = link_to "#", class: "font-color_blue" do
                %div
                  = icon('fas','angle-right')
                  = @category_child.name
              = link_to "#", class: "font-color_blue" do
                %div
                  = icon('fas','angle-right')
                  = @category_grandchild.name
        %tr
          %th ブランド
          %td 
            = @item.brand_name
        %tr
          %th サイズ
          %td 
            = @item.size
        %tr
          %th 商品の状態
          %td 
            =@item.condition.name
        %tr
          %th 配送料の負担
          %td 
            = @item.postage_payer.name
        %tr
          %th 配送の方法
          %td 
            = @item.postage_type.name
        %tr
          %th 発送元地域
          %td 
            = @item.prefecture.name
        %tr
          %th 発送日の目安
          %td 
            =@item.preparation_day.name
    .price_box 
      %span.item-price 
        ¥
        =@item.price
      %span.item-tax (税込)
      %span.item-shipping-fee 
        =@item.postage_payer.name
    -if user_signed_in?
      -if @item.user.id != current_user.id
        .buy_btn 
          = link_to "購入画面に進む", buycheck_items_path
      -else 
        .buy_btn2
          = link_to "商品の情報を編集する","#", data: {"turbolinks" => false}
        .item_info
          %p
            =@item.introduction
        .item_container
          .item_container__right
            = link_to "あんしん・あんぜんへの取り組み", "#", class: "font-color_blue"
    -else
      .buy_btn 
        = link_to "購入画面に進む", buycheck_items_path

  .sns_link
    %ul
      %li 
        = link_to "#" do
          = icon("fab", "facebook-square", style: "color:royalblue;")
      %li 
        = link_to "#" do
          = icon("fab", "twitter-square", style: "color:#1DA1F2;")
      %li 
        = link_to "#" do
          = icon("fab", "pinterest-square", style: "color:#BD081C;")
  .items_user
    %h2.items_user__name
      = link_to "#{@item.user.nickname}さんの商品", "#", class: "font-color_blue"
    .itemLists
      - @new_items.each do |item|
        .itemContent
          =link_to item_path(item.id) , data: {"turbolinks" => false} do
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner SOLD
            %figure.itemContent__image
              =image_tag item.images[0].image_url.url, class:"img"
            .itemContent__info
              %h3.name
                = item.name
              %ul
                %li 
                  = item.price 
                  円
              %p.shipping 
                = item.postage_payer.name
  .items_user
    %h2.items_user__name
      = link_to "#{@category_parent.name}をもっと見る", "#", class: "font-color_blue"
    .itemLists
      - @items.each do |item|
        .itemContent
          =link_to item_path(item.id) , data: {"turbolinks" => false} do
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner SOLD
            %figure.itemContent__image
              =image_tag item.images[0].image_url.url, class:"img"
            .itemContent__info
              %h3.name
                = item.name
              %ul
                %li 
                  = item.price 
                  円
              %p.shipping 
                = item.postage_payer.name
  .item_info_bottom
    = link_to "メルカリ", root_path
    = icon('fas','angle-right')
    %p スマーーーートフォン


= render "lower-photo"
= render "footer"